{% extends "base.html" %}

{% block title %}О каталоге{% endblock %}

{% block content %}
<div class="container">
    <h1>О каталоге</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Каталог SSD-накопителей</h5>
            <p class="card-text">
                Наш каталог предоставляет информацию о различных SSD-накопителях, доступных на рынке.
                Вы можете найти подробные характеристики каждого устройства, включая:
            </p>
            <ul>
                <li>Производителя и модель</li>
                <li>Объем накопителя</li>
                <li>Интерфейс подключения</li>
                <li>Форм-фактор</li>
                <li>Скорость чтения и записи</li>
                <li>Гарантийный срок</li>
                <li>Цену</li>
            </ul>
            <p class="card-text">
                Каталог поддерживает сортировку по различным параметрам и группировку товаров
                для удобного поиска нужного накопителя.
            </p>
        </div>
    </div>
</div>
{% endblock %}